@font-face {
    font-family: 'CustomFont';
    src: url('./custom_galvanic_accentofont2024.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'CustomFontSecondary';
    src: url('./custom_font_secondary.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }