<div class="content">
  <h2>Ponte en contacto conmigo</h2>
  <!-- <form [formGroup]="contactInfo" class="form">
    <div class="form-field">
      <label for="name">Nombre</label>
      <input pInputText id="username" formControlName="name" />
    </div>
    <div class="form-field">
      <label for="email">Email</label>
      <input pInputText id="email" formControlName="email" />
    </div>
    <div class="form-field">
      <label for="phone">Teléfono</label>
      <input pInputText id="phone" formControlName="phone" />
    </div>
    <div class="form-field-text">
      <label for="text">Motivo de consulta</label>
      <textarea pInputTextarea formControlName="text">
      </textarea>
    </div>
  </form> -->
  <!-- <h2>Informacion de contacto</h2> -->
  <div class="icons">
    <div class="icon-info">
        <i class="pi pi-whatsapp"></i>
        <span>695847154</span>
    </div>
    <div class="icon-info">
        <i class="pi pi-envelope"></i>
        <span>email&#64;email.com</span>
    </div>
    <div class="icon-info">
        <i class=" pi pi-instagram"></i>
        <span>instagram.name</span>
    </div>
  </div>
</div>
<!-- <button (click)="testForm()">test</button> -->
