.home {
  background-color: #3e6eb0; /* Azul oscuro */
  padding: 50px;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 94vh;
    .name {
        font-size: 3vw;
    }
    
    .description {
        display: flex;
        flex-direction: row;
        h2 {
          font-size: 2vw;
          margin:1.5vw;
          cursor: pointer;
        }
    }
  }
}
.personal-info {
  background-color: #4d8ec5; /* Azul medio */
  .content {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    align-items: center;
    padding: 3vw;
    .personal-info-1, .personal-info-2 {
        font-size: 1vw;
    }
}
}
.services {
  background-color: #6aa0d3; /* Azul claro */
  .content {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    align-items: center;
    padding: 3vw;
    .top-content, .bottom-content {
        font-size: 1vw;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top-content {
        .card-area {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 3vw;
            grid-row-gap: 0px;
            width: 100%;
            height: 100%;
            .card {
                border: solid 1px;
            }
        }
    }
}
}
.contact {
  background-color: #a8c5e1; /* Azul muy claro */
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-items: center;
    padding: 3vw;
    font-size: 1.5vw;
    }
    .icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 2vw;
        grid-row-gap: 0px;
        .icon-info {
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                font-size: 1.5vw;
                margin-left: 10px;
            }
            i {
                font-size: 1.5vw;
            }
        }
    }
}
//texts
h1, h2, h3 {
  color: #ffffff; /* Letras blancas */
}
p {
  font-size: 16px;
  line-height: 1.6;
}
a {
  color: #ffffff; /* Letras blancas */
  text-decoration: none;
}
//animations
.home {
  opacity: 0; /* Inicialmente transparente */
  animation: fadeIn 1s ease forwards; /* Animación de aparecer */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Comienza transparente */
  }
  to {
    opacity: 1; /* Termina completamente visible */
  }
}

/* Espacio en blanco para visualizar mejor el contenido */


.contact-whastapp {
  .whatsapp-button {
      position: fixed;
      bottom: 20px;
      right:20px;
   }
  
   .whatsapp-button {
      background-color: #25D366;
      border: none;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 25px;
      cursor: pointer;
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }
    .whatsapp-button:hover {
      background-color: #128C7E;
    }
    
    .whatsapp-button a {
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    
    .whatsapp-button i {
      margin-right: 10px;
      font-size: 20px;
    }
    
    .pi-whatsapp {
      color: white;
    }
}
  

