<div class="nav-bar">
  <p-tabView (onChange)="navigateView($event)" [activeIndex]="activeTab">
    <p-tabPanel header="Inicio"> </p-tabPanel>
    <p-tabPanel header="¿Quien soy?"> </p-tabPanel>
    <p-tabPanel header="Servicios"> </p-tabPanel>
    <p-tabPanel header="Contacto"> </p-tabPanel>
  </p-tabView>
</div>

<div class>
  <!-- <button>
    <a
      class="qlwapp-toggle"
      data-action="open"
      data-phone="34676096151"
      data-message="¡Hola!"
      role="button"
      tabindex="0"
      target="_blank"
      href="https://web.whatsapp.com/send?phone=34676096151&amp;text=¡Hola!"
    >
    <i class="pi pi-whatsapp"></i><span>Contacta</span>
    </a>
  </button> -->

  <button class="whatsapp-button">
    <a
      class="qlwapp-toggle"
      data-action="open"
      data-phone="34999999999"
      data-message="¡Hola!"
      role="button"
      tabindex="0"
      target="_blank"
      href="https://web.whatsapp.com/send?phone=34999999999&amp;text=¡Hola!"
    >
      <i class="pi pi-whatsapp"></i>
      <span>Contacta</span>
    </a>
  </button>
</div>
<router-outlet></router-outlet>
