.home {
  //padding: 50px;
  color: #385c5c;
  font-family: 'CustomFontSecondary';
  background: url('../assets/logo-center.png') no-repeat;
  background-position: center;
  background-size: 100vh;
  background-color: #ffffff;
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .name {
        font-size: 3vw;
        font-family: 'CustomFont';
    }    
    .description {
        display: flex;
        flex-direction: row;
        h2 {
          font-size: 2vw;
          margin:1.5vw;
          cursor: pointer;
        }
    }
  }
}
.personal-info {
  background-color: #eaf4f4;
  color: #5a6b6b;
  font-family: 'CustomFontSecondary';
  height: 100vh;
  .content {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 5vh;
    grid-row-gap: 0px;
    justify-items: center;
    align-items: center;
    padding: 3vw;
    padding-left: 11vw;
    padding-right: 11vw;
    img{
      width: 35vw;
    }   
    .personal-info-1, .personal-info-2 {
        font-size: 1vw;
    }
}
}
.services {
  background-color: #a4c3c3;
  font-family: 'CustomFontSecondary';
  .content {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    align-items: center;
    padding: 3vw;
    .top-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          color: white;
          font-size: 2.3vw;
        }
        h2 {
          font-size: 1.5vw;
        }
    }
    .top-content {
        .card-area {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 3vw;
            grid-row-gap: 3vw;
            width: 60%;
            height: 100%;
            justify-items: center;
            .card {
                border: solid 1px color(white);
                color: #5a6b6b;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
                height: 40vh;
                width: 25vw;
                font-size: 1vw;
                .text-list {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin-top: 3vh;
                  .custom-spam{
                    margin-top: 16px;
                  }
                }
            }
            .infantil {
              background: url('../assets/desarrollo-infantil.png') no-repeat;
              background-position: right 0% bottom 0%;;
              background-size: 60vh;
            }
            .familiar {
              background: url('../assets/acompañamiento\ familiar.png') no-repeat;
              background-position: right 50% bottom 100%;
              background-size: 50vh;
            }
            .psicoterapia {
              background: url('../assets/psicotearia.png') no-repeat;
              background-position: right 50% bottom -35%;
              background-size: 43vh;
              .text-list {
                margin-top: 5vh;
              }
            }
            .online {
              background: url('../assets/acom-online.png') no-repeat;
              background-position: right 34% bottom 130%;
              background-size: 50vh;
              .text-list {
                margin-top: 5vh;
              }
            }
            .card {
              background-color: #eaf4f4;
            }
        }
    }
}
}

.stepper-zone {
  font-family: 'CustomFontSecondary';
  background-color: #eaf4f4;
  color: #5a6b6b;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  .tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 15vh;
    .tab-controller{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      }
    .tab-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      .selected-h2 {
        color: #5a6b6b;
        font-weight:  900;
        text-shadow: 0 10px 10px #a8dcc2; /* sombra con color rgba para transparencia */
        transform: scale(1.1); /* escala para efecto de zoom */
        font-size: 1.7vw;
      }
      }
    .tab-header:hover {
      text-shadow: 0 10px 10px #a8dcc2; /* sombra con color rgba para transparencia */
      transform: scale(1.1); /* escala para efecto de zoom */
    }
    .tab-content {
      width: 60%;
      margin-top: 5vh;
    }
  }
  .bottom-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 2.3vw;
    }
    h2 {
      font-size:  1.3vw;
    }
}
}
.contact {
  font-family: 'CustomFontSecondary';
  background-color: #a4c3c3; /* Azul muy claro */
  color: white;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-items: center;
    padding: 3vw;
    font-size: 1.5vw;
    }
    .icons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 2vw;
        grid-row-gap: 0px;
        .icon-info {
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                font-size: 1.5vw;
                margin-left: 10px;
            }
            i {
                font-size: 1.5vw;
            }
        }
    }
}
//stepper zone
.tab-controller {
  width: 50%;
}
//stepper zone off
//texts
h1, h2, h3 {
  //color: #ffffff; /* Letras blancas */
}
p {
  line-height: 1.6;
}
a {
  //color: #ffffff; /* Letras blancas */
  text-decoration: none;
}
ul {
  list-style-type: none;
}
//animations
.home {
  opacity: 0; /* Inicialmente transparente */
  animation: fadeIn 1s ease forwards; /* Animación de aparecer */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Comienza transparente */
  }
  to {
    opacity: 1; /* Termina completamente visible */
  }
}

/* Espacio en blanco para visualizar mejor el contenido */


.contact-whastapp {
  .whatsapp-button {
      position: fixed;
      bottom: 20px;
      right:20px;
   }
  
   .whatsapp-button {
      background-color: #25D366;
      border: none;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 25px;
      cursor: pointer;
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }
    .whatsapp-button:hover {
      background-color: #128C7E;
    }
    
    .whatsapp-button a {
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    
    .whatsapp-button i {
      margin-right: 10px;
      font-size: 20px;
    }
    
    .pi-whatsapp {
      color: white;
    }
}

/* General adjustments for mobile */
@media (max-width: 800px) {
  .home {
    color: #385c5c;
    font-family: 'CustomFontSecondary';
    background: url('../assets/logo-center.png') no-repeat;
    background-position: right 50% bottom 57%;;
    background-size: 45vh;
    background-color: #ffffff;
    
    .content {
      padding: 10px;
      .name {
          font-size: 6vw; /* Increased font size for mobile */
          font-family: 'CustomFont';
      }    
      .description {
          flex-direction: column; /* Changed direction to column */
          align-items: center;
          h2 {
            font-size: 4vw; /* Increased font size for mobile */
            margin: 2vw 0;
            cursor: pointer;
          }
      }
    }
  }

  .personal-info {
    background-color: #eaf4f4;
    color: #5a6b6b;
    font-family: 'CustomFontSecondary';
    height: auto; /* Adjust height for mobile */
    
    .content {
      height: auto;
      display: flex;
      flex-direction: column;
      padding: 5vw;
      img{
        width: 80vw;
      } 
      
      .personal-info-1, .personal-info-2 {
          font-size: 4vw; /* Increased font size for mobile */
      }
    }
  }

  .services {
    background-color: #a4c3c3;
    font-family: 'CustomFontSecondary';
    .content {
      padding: 5vw;      
      .top-content {
          h1 {
            font-size: 6vw; /* Increased font size for mobile */
          }
          h2 {
            font-size: 4vw; /* Increased font size for mobile */
          }
      }
      
      .card-area {
          height: auto;
          grid-template-columns: 1fr !important;
          grid-template-rows: auto;
          width: 100% !important;
          .card {
              width: 70% !important;
              margin-top: 5%;
              height: auto;
              h2 {
                font-size: 2vh;
              }
              p, span {
                font-size: 4vw;
              }
          }
          .infantil {
            background-position: right 100% bottom -4% !important;
            background-size: 42vh !important;
          }
          .familiar {
            background-position: right 50% bottom -200% !important;
            background-size: 42vh !important;
          }
          .psicoterapia {
            background-position: right 57% bottom 57%!important;
            background-size: 39vh !important;
            h2 {
              margin-bottom: 1vh
            }
          }
          .online {
            background-position: right 91% bottom 15% !important;
            background-size: 37vh !important;
          }
      }
    }
  }

  .stepper-zone {
    font-family: 'CustomFontSecondary';
    background-color: #eaf4f4;
    color: #5a6b6b;
    height: auto;
    
    .tab {
      margin-top: 5vh;
      margin-bottom: 5vh;
      
      .tab-controller {
        flex-direction: row;
      }
      
      .tab-header {
        .selected-h2 {
          font-size: 3vw; /* Increased font size for mobile */
        }
        .unselected-h2 {
          font-size: 2vw;
        }
      }
      
      .tab-content {
        width: 90%;
      }
    }
    
    .bottom-content {
      h1 {
        font-size: 6vw; /* Increased font size for mobile */
      }
      h2 {
        font-size: 4vw; /* Increased font size for mobile */
      }
    }
  }

  .contact {
    font-family: 'CustomFontSecondary';
    background-color: #a4c3c3;
    color: white;
    
    .content {
      padding: 5vw;
      font-size: 4vw; /* Increased font size for mobile */
    }
    
    .icons {
        margin-bottom: 6vh;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        grid-row-gap: 5vw;        
        .icon-info {
          display: flex;
          align-items: center;
          justify-content: flex-start;
            span {
                font-size: 4vw; /* Increased font size for mobile */
                margin-left: 5px;
            }
            i {
                margin-right: 2vw;
                font-size: 4vw; /* Increased font size for mobile */
            }
        }
    }
  }

  .whatsapp-button {
    bottom: 10px;
    right: 10px;
    padding: 8px 16px;
    font-size: 14px;
  }
}

  

