<section class="home">
  <div class="content">
    <div class="name">
      <h1>Sofza Camilo Psicologza</h1>
    </div>
    <div class="description">
      <h2>Desarrollo infantil</h2>
      <h2>Acompañamiento familiar</h2>
      <h2>Psicoterapia</h2>
    </div>
  </div>
</section>

<section class="personal-info">
  <div class="content">
    <img src="assets/quien-soy.png">
    <div class="personal-info-1">
      <h1>Quién soy</h1>
      <span>
        Mi nombre es Sofía, soy psicóloga general sanitaria (Col. Nº G-5477) y mi especialidad
        se centra en la población pediátrica y adolescente, también en el trabajo familiar y
        psicoterapéutico. Me apasiona la psicología, especialmente el desarrollo infantil y el
        acompañamiento emocional tan importante y necesario a realizar con todas aquellas
        familias que lleguen hasta mí.
      </span>
    </div>
  </div>
  <div class="personal-info-2">
    <h1>Experiencia y formación</h1>
    <span>
      A lo largo de los años me he ido formando en diferentes aspectos relacionados con el
      trabajo en clínica. He realizado formaciones oficiales relacionadas con la psicología y la
      psicopatología perinatal e infantil y con la psicoterapia emocional sistémica
      infantojuvenil y familiar.
      También he trabajado en el mundo de la neurorrehabilitación pediátrica, el
      aprendizaje infantojuvenil y la psicoterapia infantojuvenil y adulta.
    </span>
    <span>
      Si todavía quieres saber más, aquí te dejo un enlace a mi <a href="https://www.linkedin.com/in/sof%C3%ADa-camilo-lado-0b7631153/" target="_blank">LinkedIn.</a>
    </span>
  </div>
</section>

<section class="services">
  <div class="content">
    <div class="top-content">
      <h1>Servicios</h1>
      <span>A través de los siguientes servicios pretendo ofrecer un espacio
        seguro en el que se encuentre una atención personalizada y
        adaptada a cada persona o familia.</span>
    </div>
    <div class="images">
      <img src="assets/servicios_1.png">
      <img src="assets/servicios_2.png">
      <img src="assets/servicios_3.png">
      <img src="assets/servicios_4.png">
    </div>
    <!-- <div class="card-area">
      <div class="card infantil">
        <h2>Desarrollo infantil</h2>
        <div class="text-list">
          <p>Neurodesarrollo</p>
          <p>Estimulación temprana</p>
          <span>Acompañamiento a lo largo de las</span>
          <span> diferentes etapas de desarrollo del niño/a</span>
        </div>
      </div>
      <div class="card familiar">
        <h2>Acompañamiento familiar</h2>
        <div class="text-list">
          <p>Información sobre desarrollo y estimulación</p>
          <p>Dinámicas y conflictos familiares</p>
          <p>Duelo perinatal</p>
        </div>
      </div>
      <div class="card psicoterapia">
        <h2>Psicoterapia</h2>
        <div class="text-list">
          <p>Psicoterapia para niños/as y adolescentes</p>
          <p>Psicoterapia para adultos/as</p>
        </div>
      </div>
      <div class="card online">
        <h2>Terapia online</h2>
        <div class="text-list">
          <span class="custom-spam">Si lo prefieres, también podemos</span>
          <span>realizar sesiones online</span>
        </div>
      </div>
    </div>     -->
  </div>
</section>

<section class="stepper-zone">
  <h1>Cómo lo haremos</h1>
  <div class="header-rectangle">
    <h1>1. PRIMER CONTACTO</h1>
  </div>
  <div class="stepper-text">
    <span>Tendremos una llamada en la que nos conoceremos y podrás explicarme cuales son tus necesidades. Así podremos marcar la hoja de ruta para iniciar éste camino.</span>
  </div>
  <div class="header-rectangle">
    <h1>2. EVALUACIÓN</h1>
  </div>
  <div class="stepper-text">
    <span>Agendaremos una primera entrevista en la que comenzaremos un procfeso de evaluación para posteriormente comentar los resultados.</span>
  </div>
  <div class="header-rectangle">
    <h1>3. INTERVENCIÓN</h1>
  </div>
  <div class="stepper-text">
    <span>Una vez que conozcamos y analicemos las necesidades que te han traido hasta aquí plantearemos juntos/as los objetivos terapéuticos y la intervención.</span>
  </div>
  <!-- <div class="bottom-content">
    <h1>Cómo lo haremos</h1>
  <div class="tab">
    <div class="tab-controller">
      @for (tab of tabs; track $index) {
        <div class="tab-header" (click)="changeTabContent($index)">
          <h2 [ngClass]="tab.active ? 'selected-h2':'unselected-h2'">{{tab.tabName}}</h2>
        </div>  
        }
    </div>
    <div class="tab-content">
      @for (tab of tabs; track $index) {
        @if (tab.active) {
            <h2>{{tab.tabContent}}</h2>
          }
        }
    </div>
    </div>
  </div> -->
</section>

<section class="contact">
  <div class="content">
    <h1>Ponte en contacto conmigo</h1>
    <div class="icons">
      <div class="icon-info">
        <i class="pi pi-whatsapp"></i>
        <a
     class="qlwapp-toggle"
      data-action="open"
      data-phone="648772800"
      data-message=""
      role="button"
      tabindex="0"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=34648772800&amp;text=¡Hola!"
    >
        648772800</a>
      </div>
      <div class="icon-info">
        <i class="pi pi-envelope"></i>
        <span>sofiacamilopsicologia&#64;gmail.com</span>
      </div>
      <div class="icon-info">
        <i class="pi pi-instagram"></i>
        <a href="https://www.instagram.com/sofiacamilopsicologia" target="_blank">sofiacamilopsicologia</a>
      </div>
      <div class="icon-info">
        <i class="pi pi-map-marker"></i>
        <a href="https://maps.app.goo.gl/Y3hjXXNaU25FLzbZ9?g_st=iw" target="_blank" style="white-space:nowrap;">C/ Rey Abdullah 10, bajo, 15004, A Coruña</a>
      </div>
    </div>
  </div>
</section>

<div class="contact-whastapp">
  <button class="whatsapp-button">
    <a
      class="qlwapp-toggle"
      data-action="open"
      data-phone="648772800"
      data-message=""
      role="button"
      tabindex="0"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=34648772800&amp;text=¡Hola!"
    >
      <i class="pi pi-whatsapp"></i>
      <span>Contacta</span>
    </a>
  </button>
</div>
