<div class="content">
    <div class="personal-info-1">
        <h2>¿Quien soy?</h2>
        <h3>
            Mi nombre es Sofía, soy psicóloga general sanitaria (Col. Nº G-5477) y mi especialidad se
            centra en la población pediátrica y adolescente, también en el trabajo familiar y
            psicoterapéutico.
            Me apasiona la psicología, especialmente el desarrollo infantil y el acompañamiento emocional
            tan importante y necesario a realizar con todas aquellas familias que lleguen a mí.
        </h3>
    </div>
    <div>
        IMAGEN
    </div>
    <div>
        IMAGEN
    </div>
    <div class="personal-info-2">
        <h2>Experiencia y formación</h2>
        <h3>
            Si quieres saber un poco más acerca de mi experiencia y formación, aquí tienes algunos datos:
            <h3>Formación:</h3>
                
            <ul>
                <li>- Máster en Psicología y Psicopatología Perinatal e Infantil</li>
                <li>- Máster en Psicología General Sanitaria</li>
                <li>- Experto en psicoterapia emocional sistémica infantojuvenil y familiar</li>
                
            </ul>
            <h3>Experiencia:</h3>
            <ul>
                <li>- Trabajos que he tenido.</li>
            </ul>
        </h3>
    </div>
</div>
