.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 94vh;
    .name {
        font-size: 2vw;
    }
    
    .description {
        display: flex;
        flex-direction: row;
        h2 {
            font-size: 1.5vw;
            margin:1vw;
        }
    }
}